@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400&display=swap');

h4 { 
    padding: 15px;
}

h1, h2, h3, h4, h5, h6, .home-title, .msg h2 {
  font-family: 'Merriweather', Georgia, serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, .button-box, main section {
    text-align: center;
}

#hero-msg h4 {
    color: white;
    text-align: center;
}

#background {
    height: 725px;
    background-color: #e6f2ff;
}

body {
    background-color: #fcfbfb; 
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Roboto', Arial, sans-serif; 
}

header {
    background-color:rgba(45, 84, 96, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: rgba(41, 114, 136, 0.886);
    color: #fffcfc;
}

.book, .join {
    background-color: rgb(25, 45, 52);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: rgba(41, 114, 136, 0.886);
    color: #fff;
}

.msg {
    background-color: rgba(45, 84, 96, 0.7);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: rgba(23, 71, 86, 0.824);
    color: #fff;
    padding: 25px 50px;
    margin-top: 200px;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: rgba(41, 114, 136, 0.886); 
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #555; 
}

.msg h2 {
    color: rgb(255, 255, 255);
}

.msg p {
    color: #ffffff;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #ffffff; 
    text-decoration: none;
}

footer a:hover {
    color: #fcfbfb; 
}

.logo {
    width: 80px;
}

.icon {
    width: 80px; 
    padding-top: 10px;
}

#hero-img {
    width: 100%; 
}

footer p {
    font-size: 1.2em;
} 

footer p a:hover {
    text-decoration: underline;
}    

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0; 
}

.card-img {
    border: 10px solid rgba(45, 84, 96, 0.7);
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: -100px; 
    z-index: -1;
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

main.home-grid {
    display: grid;
    grid-template-columns: 10fr;
}

.rivers-card {
    grid-column: 2 / 4; 
    grid-row: 2 / 3;    
}

.camping-card {
    grid-column: 6 / 8; 
    grid-row: 2 / 3;    
}

.rapids-card {
    grid-column: 8 / 10; 
    grid-row: 2 / 3;   
}

#background {
    grid-column: 1 / 11; 
    grid-row: 4 / 9;    
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            