@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400&display=swap');

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply body font (Roboto) */
body {
  font-family: 'Roboto', Arial, sans-serif; /* Fallback to Arial and sans-serif */
}

/* Apply headline font (Merriweather) */
h1, h2, h3, h4, h5, h6, .home-title, .msg h2 {
  font-family: 'Merriweather', Georgia, serif; /* Fallback to Georgia and serif */
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #e6f2ff;
}

body {
    background-color: #fcfbfb; 
    margin: 0;
    padding: 0;
    font-size: 22px;
}

header {
    background-color:rgba(45, 84, 96, 0.7);
}

nav a:hover {
    background-color: rgba(41, 114, 136, 0.886);
    color: #fffcfc;
}

.book, .join {
    background-color: rgb(25, 45, 52);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: rgba(41, 114, 136, 0.886);
    color: #fff;
}

.msg {
    background-color: rgba(45, 84, 96, 0.7);
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: rgba(23, 71, 86, 0.824);
    color: #fff;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #333; 
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #555; 
}

.msg h2 {
    color: rgb(255, 255, 255);
}

.msg p {
    color: #ffffff;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #ffffff; 
    text-decoration: none;
}

footer a:hover {
    color: #fcfbfb; 
}

.logo {
    width: 80px;
}

.icon {
    width: 80px; 
    padding-top: 10px;
}

#hero-img {
    width: 100%; 
}

footer p {
    font-size: 1.2em;
} 

footer p a:hover {
    text-decoration: underline;
}    

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0; 
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}
            